
#info1
{
	background:aqua;
	color:black;
	font-family:Microsoft YaHei;
	font-size:25px;
	margin-top:220px;
	margin-left:500px;
	margin-right:300px;
}

#info2
{
	background:aqua;
	color:black;
	font-family:Microsoft YaHei;
	font-size:25px;
	margin-left:250px;
	margin-right:300px;
	margin-bottom:100px;
}

#hw
{
	background:aqua;
	color:black;
	font-family:Microsoft YaHei;
	font-size:25px;
	margin-top:200px;
	margin-left:250px;
	margin-right:250px;
}