a:link { 
color:red; 
text-decoration:none; 
} 
a:visited { 
color:red; 
text-decoration:none; 
} 
a:hover { 
color:black; 
text-decoration:none; 
} 
a:active { 
color:red; 
text-decoration:none; 
} 


#info1
{
	background:pink;
	color:black;
	font-family:Microsoft YaHei;
	font-size:25px;
	margin-top:220px;
	margin-left:500px;
	margin-right:300px;
}

#info2
{
	background:pink;
	color:black;
	font-family:Microsoft YaHei;
	font-size:25px;
	margin-left:250px;
	margin-right:300px;
	margin-bottom:100px;
}

#hw
{
	background:pink;
	color:black;
	font-family:Microsoft YaHei;
	font-size:25px;
	margin-top:200px;
	margin-left:250px;
	margin-right:250px;
}

#article_index
{
	float:left;
	background:pink;
	color:black;
	font-family:Microsoft YaHei;
	font-size:25px;
	width:250px;
	height:300px;
	margin-left:250px;
	margin-top:200px;
}

#article_content
{
	color:black;
	font-family:Microsoft YaHei;
	font-size:25px;
	width:600px;
	margin-top:200px;
	margin-left:550px;
}